ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li {
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
ul li::before {
    content: "✔";
    color: green;
    font-weight: bold;
    margin-right: 10px;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}
.gallery img:hover {
  transform: scale(1.03);
}
header, footer {
    text-align: center;
    padding: 15px;
    background-color: #f4f4f4;
}
section {
    margin: 20px;
    text-align: center;
}
.social-icons {
    margin-top: 15px;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 28px;           /* Sabit boyut */
    height: 28px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.social-icons a:hover img {
    transform: scale(1.2);
}
